@import url("https://fonts.googleapis.com/css2?family=Revalia&family=Young+Serif&display=swap");

body {
  margin: 0;
  font-family: "Revalia", sans-serif;
  background-color: #000;
  font-weight: 600;
  padding-left: 200px;
  color: #ececec;
}

.content {
  padding: 20px 100px;
  text-align: center;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding: 30px;
  margin: 16px auto;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-radius: 5px;
  text-decoration: 1px underline #ff1111;
  text-underline-position: under;
}

h2 {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  padding: 24px;
  text-decoration: 1px underline #ff1111;
  text-underline-position: under;
}

p {
  text-align: justify;
  font-weight: 100;
  line-height: 2;
  padding-bottom: 30px;
}
