@import url("https://fonts.googleapis.com/css2?family=Revalia&family=Young+Serif&display=swap");

body {
  margin: 0;
  font-family: "Revalia", sans-serif;
  background-color: #000;
  font-weight: 600;
  padding-left: 200px;
  color: #ececec;
}

h2 {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  padding: 24px;
  text-decoration: 1px underline #ff1111;
  text-underline-position: under;
}

p {
  text-align: justify;
  font-weight: 100;
  line-height: 2;
  padding-bottom: 30px;
}

span {
  font-family: "Revalia", sans-serif;
  color: #ececec;
}
